/* Custom Stylesheet */

h1{
  font-size: 2rem;
  line-height: 90%;
  text-transform: uppercase;
  color: #ee6e73;
  border-bottom: 1px solid yellowgreen;
}

h2 {
  font-size: 1.56rem;
  text-decoration: underline;
}

h3 .section{
  font-size: 1.7rem;
  text-decoration: underline;
  color: #ee6e73;
}
h4 {
  font-size: 1.2rem;
}

li code{
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}

hr {
  color: yellowgreen;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
.method {
  color: #cb4b16;
  font-size: 14px;
}

.subsection{
  background-color:#bbdefb;
  padding-left: 10px;
  padding: 0px 10px;
  font-size: 1.4rem;
  font-weight: bolder;
  /*border-bottom: 1px solid #ee6e73;*/
}

pre{
  overflow-x: auto;
  overflow-y: scroll;
  overflow: auto;
  max-height:350px;
  background-color: black;
  color: deepskyblue;
}

.time-line{
  border-top: solid 1px #3090C7;
  border-bottom: solid 1px #3090C7;
  padding: 10px 0;
  margin: 20px 0;
}

.card-content h2 {
  font-size: 1.1em;
  font-weight: bold;
}
.card-content .categories{

}
.card-content h3 {
  font-size: 0.9em;
  font-weight: bold;
}
