/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2em;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
.method {
  color: #cb4b16;
  font-size: 14px;
}

.subsection{
 background-color:#82cafa;
  padding-left: 10px;
}

pre{
  overflow-x: auto;
  overflow-y: scroll;
  overflow: auto;
  max-height:350px;
  background-color: black;
  color: deepskyblue;
}

.time-line{
  border-top: solid 1px #3090C7;
  border-bottom: solid 1px #3090C7;
  padding: 10px 0;
  margin: 20px 0;
}

.card-content h2 {
  font-size: 1.1em;
  font-weight: bold;
}
.card-content .categories{

}
.card-content h3 {
  font-size: 0.9em;
  font-weight: bold;
}
