{{ $baseurl := .Site.BaseURL }}
<div class="row">
{{range $index, $page := .Paginator.Pages}}
  {{ if and (modBool $index 3) (ne 0 $index) }}
</div>
<div class="row">
  {{ end }}
  <div class="col m4 s12">
    <div class="card blue lighten-5">
      <div class="card-content">
        <span class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        <p class="categories">
        {{if .Params.categories }}
        {{ range $index, $category := .Params.categories }}
        <a class="waves-effect waves-light btn" href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
        {{ end }}
        {{end}}
        </p>
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
        <div class="read-more-link right-align">
          <a href="{{ .RelPermalink }}">Leer más…</a>
        </div>
        {{ end }}
        {{ .Date.Format "2 Jan 2006" }}
        {{if .Params.tags }}
          <div class="card-action">
          {{ range $index, $tag := .Params.tags }}
            <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
            {{ end }}
          </div>
        {{end}}
      </div> <!-- card-content -->
    </div> <!-- card blue -->
  </div>
  {{ end }}
</div>
