  <div id="index-banner" class="parallax-container">
    <a data-activates="slide-out" class="btn-floating button-collapse" style="top: 5px; left: 5px;"><i class="mdi-navigation-menu"></i></a>

    <div class="section no-pad-bot">
      <div class="container">

        <h1 class="header center teal-text text-lighten-2">{{.Site.Title}}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{.Site.Params.description}}</h5>
        </div>

        <div class="row center">
        {{if .Site.Params.github}}
          <a href="https://github.com/{{ .Site.Params.github }}"><img src="{{.Site.BaseURL}}/images/github.png"></a>
        {{end}}
        {{if .Site.Params.facebook}}
          <a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}/images/facebook.png"></a>
        {{end}}
        {{if .Site.Params.twitter}}
          <a href="https://twitter.com/{{.Site.Params.twitter}}"><img src="{{.Site.BaseURL}}/images/twitter.png"></a>
        {{end}}
        {{if .Site.Params.gplus}}
          <a href="https://google.com/+{{.Site.Params.gplus}}"><img src="{{.Site.BaseURL}}/images/gplus.png"></a>
        {{end}}
        {{if .Site.Params.linkedin}}
          <a href="https://www.linkedin.com/in/{{.Site.Params.linkedin}}"><img src="{{.Site.BaseURL}}/images/linkedin.png"></a>
        {{end}}
          <a href="{{.Site.BaseURL}}/index.xml"><img src="{{.Site.BaseURL}}/images/feed.png"></a>
        </div> <!-- row -->

      </div> <!-- container -->
    </div> <!-- section -->

    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/default.jpg">
    {{end}}
  </div> <!-- parallax -->

</div> <!-- parallax-container -->
